// $o-community-color: #1f202b !default;
// $o-brand-odoo: $o-community-color !default;
// $o-brand-primary: $o-community-color !default;

// body{
//     font-family: 'Poppins', sans-serif !important;
// }

.o_main_navbar {
    font-family: 'Poppins', sans-serif !important;
//     background-color: #1f202b !important;
    color: #e9f0f2 !important;
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




// .o_list_button_add{
// font-family: 'Poppins', sans-serif !important;
//     background-color: #1f202b !important;
//     color: #e9f0f2 !important;
// }
//
// .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
//     background-color: #1f202b;
//     color: #fff;
// }